* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    color: white;

}

input {
     padding:10px;
     border:0;
     box-shadow:0 0 15px 4px rgba(225, 0, 250, 0.623);
     padding:10px;
     border-radius:10px;
     margin: 50px 50px 50px 50px;
}
      
